*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:url(../fonts/Poppins-Black.ttf)!important;
    perspective: 700px;
}

@media (max-width:995px){
    .creds .credentials{
        width: 100% !important;
    }

    .header .ctr {
        top: -4px !important;
        right: -2px !important;
    }
}

/*//////////////////////////// header ////////////////////////////*/

.header a, .header .cart {
    font-size: larger;
    font-weight: 500;
    color: rgb(68, 68, 68) !important;
    transition: 0.2s;
    margin: 0 5px;
}

.header a:hover, .header .cart:hover {
    color: black !important;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.header .cart{
    position: relative;
    margin-top: 7px;
}

.header .user-info {
    display: none;
}

.header .ctr {
    position: absolute;

    background-color: #dc3545;
    color: #ffffff;

    border: 0.5px solid #e9e8e8;

    height: 17px;
    width: 17px;
    border-radius: 50%;

    left: 15px;
    bottom: 25px;

    text-align: center;
    font-size: 10px !important;
}

/*//////////////////////////// products ////////////////////////////*/

.productsContainer #add_to_cart {
    border: none;
    border-radius: 10px;
    height: 40%;
    width: 40%;
    float: right;
    color: white;
    transition: 0.3s;
}

.productsContainer #add_to_cart:hover {
    opacity: 0.85;
}

.productsContainer span{
    font-size: larger;
    font-weight: 600;
}

.productsContainer .mainImgWrapper {
    position: relative;
}

.prodCrd {
    transform-style: preserve-3d;
}

.productsContainer .imgOverlay {
    position: absolute;
    top: 0;
    left: 0;
    
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}

.productsContainer .prodCrd:hover .imgOverlay {
    opacity: 1;
    visibility: visible;
    transition-delay: 1s;
}

.productsContainer .prodCrd {
    transition: 0.5s;
}

.productsContainer .prodCrd:hover {
    transform:scale(1.05, 1.05);
}

.productsContainer .mainImgWrapper .icons {
    position: relative;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    z-index: 2;
    font-size: 20px;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 5px 0 gray;
    transform: scale(0.95238, 0.95238);
}

.productsContainer .mainImgWrapper .favorites {
    color: rgb(161, 161, 161);
    font-size: 21px;
    line-height: 35px;
}

/*//////////////////////////// cart products ////////////////////////////*/

@media (min-width:515px) {
    .cart-prods .cart-prod{
        min-width: 515px;
    }
}
@media (max-width:515px) {
    .cart-prods .cart-prod {
        height: fit-content !important;
    }
    .bttn {
        margin-bottom: 1.5rem;
    }
    .cart-prods .cart-prod .image, .cart-prods .cart-prod img  {
        width: 100%;
    }

    .cart-prods .cart-prod .image {
        height: 50% !important;
    }
    .cart-prods .cart-prod img  {
        height: 100% !important;
    }
}